################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tmarkdown.VC.opendb
/tmarkdown.sdf
/Debug
/tmarkdown/Debug/tmarkdown.tlog
/tmarkdown/Debug
